<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History API</title>

    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>

<!-- 头部内容 -->
<header id="xxw-header">

    <div class="d-i-b">
        <button>展开</button>
        <button>隐藏</button>
    </div>

    <div class="d-i-b">此处为顶部导航栏</div>

</header>

<!-- 侧边 -->
<aside id="xxw-aside">
    <div>
        <h1>此处为左侧导航栏</h1>
    </div>
    <div>
        <a th:href="@{#page/1}">Page 1</a>
    </div>
    <div>
        <a th:href="@{#page/2}">Page 2</a>
    </div>
    <div>
        <a th:href="@{#page/3}">Page 3</a>
    </div>
</aside>

<!-- 主内容 -->
<main id="xxw-main"></main>

<!-- 脚 -->
<footer id="xxw-footer">
    <h1>Footer</h1>
</footer>

</body>

<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

<script th:inline="javascript" type="text/javascript">

    /**
     * 文档就绪函数
     */
    $(function () {
        showMain('#xxw-main', 'page/1')
    })

    /**
     * 浏览器地址变化
     */
    window.addEventListener('popstate', function (e) {
        showMain('#xxw-main', 'page/1')
    })

    /**
     * 展示页面
     * @param target 需要展示URL的位置
     * @param defaultHash 默认 hash 值
     * @param thisClass 当前 class
     */
    function showMain(target, defaultHash, thisClass) {
        const currentHash = window.location.hash.slice(1) || defaultHash || '/'; // 当前 hash
        thisClass = thisClass || 'a-this' // this a class
        $.get(currentHash).done(function (data) { // 请求 hash
            $(target).html(data) // 页面显示
            $("a").removeClass(thisClass) // 移除 this
            $("a[href='#" + currentHash + "']").addClass(thisClass) // 添加 this
        })
    }

</script>

</html>
