<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History API</title>

    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>

<!-- 头部内容 -->
<header id="xxw-header">

    <div class="d-i-b">
        <button>展开</button>
        <button>隐藏</button>
    </div>

    <div class="d-i-b">此处为顶部导航栏</div>

</header>

<!-- 侧边 -->
<aside id="xxw-aside">
    <div>
        <h1>此处为左侧导航栏</h1>
    </div>
    <div>
        <a th:href="@{#page/1}">Page 1</a>
    </div>
    <div>
        <a th:href="@{#page/2}">Page 2</a>
    </div>
    <div>
        <a th:href="@{#page/3}">Page 3</a>
    </div>
    <div>
        <a th:href="@{#page/4}">Page 4</a>
    </div>
</aside>

<!-- 主内容 -->
<main id="xxw-main"></main>

<!-- 脚 -->
<footer id="xxw-footer">
    <h1>Footer</h1>
</footer>

</body>

<!--<script type="text/javascript" th:src="@{/js/jquery-3.5.0.min.js}"></script>-->
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

<script th:inline="javascript" type="text/javascript">

    /**
     * 文档就绪函数
     */
    $(function () {
        const currentHash = window.location.hash.slice(1) || 'page/1'; // 当前 hash
        showNav('#xxw-main', 'page/1', 'a', "a[href='#" + currentHash + "']")
    })

    /**
     * 浏览器地址变化
     */
    window.addEventListener('popstate', function (e) {
        const currentHash = window.location.hash.slice(1) || 'page/1'; // 当前 hash
        showNav('#xxw-main', 'page/1', 'a', "a[href='#" + currentHash + "']")
    })

    /**
     * 展示页面
     * @param target 需要展示URL的位置
     * @param defaultHash 默认 hash 值
     * @param otherNav 其他导航栏，不为空
     * @param thisNav 当前导航栏，不为空
     * @param thisClass 当前 class，默认值：nav-this，可为空
     * @param forceHash 强制使用 hash
     */
    function showNav(target, defaultHash, otherNav, thisNav, thisClass, forceHash) {
        const currentHash = forceHash ? forceHash : (window.location.hash.slice(1) || defaultHash || '/'); // 当前 hash
        thisClass = thisClass || 'nav-this' // this a class
        $(otherNav).removeClass(thisClass) // 移除 this
        $(thisNav).addClass(thisClass) // 添加 this
        $.get(currentHash).done(function (data) { // 请求 hash
            $(target).html(data) // 成功时，页面显示
        }).fail(function (data) { //
            $(target).html(data.responseText) // 失败时，页面显示
        });
    }

</script>

</html>
