<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History API</title>

    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>

<!-- 头部内容 -->
<header class="xxw-header">

    <div class="d-i-b">
        <button>展开</button>
        <button>隐藏</button>
    </div>

    <div class="d-i-b">此处为顶部导航栏</div>

</header>

<!-- 侧边 -->
<aside class="xxw-aside">
    <div>
        <h1>此处为左侧导航栏</h1>
    </div>
    <div>
        <a th:href="@{#page/1}">Page 1</a>
    </div>
    <div>
        <a th:href="@{#page/2}">Page 2</a>
    </div>
    <div>
        <a th:href="@{#page/3}">Page 3</a>
    </div>
</aside>

<!-- 主内容 -->
<main class="xxw-main"></main>

<!-- 脚 -->
<footer class="xxw-footer">
    <h1>Footer</h1>
</footer>

</body>

<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

<script th:inline="javascript" type="text/javascript">

    /**
     * 文档就绪函数
     */
    $(function () {
        const hash = window.location.hash
        if (hash != null && hash.length > 1) { // 判断 hash 是否为空、最小长度是否大于 1
            const url = hash.substring(1, hash.length) // 需要展示的 URL
            if (url != null && url !== '' && url !== '/') { // 判断 URL 是否为空、是否为首页
                showMain(url, '.xxw-main')
            } else {
                // hash 不符合要求时，强制显示某个页面
                showMain('page/1', '.xxw-main')
            }
        } else {
            // hash 不符合要求时，强制显示某个页面
            showMain('page/1', '.xxw-main')
        }
    })

    /**
     * 浏览器地址变化
     */
    window.addEventListener('popstate', function (e) {
        const hash = e.target.location.hash; // 本次 hash 值
        if (hash != null && hash.length > 1) { // 判断 hash 是否为空、最小长度是否大于 1
            const url = hash.substring(1, hash.length) // 需要展示的 URL
            if (url != null) {
                showMain(url, '.xxw-main')
            }
        }
    })

    /**
     * 展示页面
     * @param url 需要展示的URL
     * @param target 需要展示URL的位置
     */
    function showMain(url, target) {
        $.get(url).done(function (data) {
            $(target).html(data)
        })
    }

</script>

</html>
